@import "tailwindcss";

body {
  background-color: #fcfcfc;
}
code,
pre {
  font-family: "Geist Mono", monospace;
}

.gom-name {
  color: rgb(10, 114, 87);
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cm-editor,
.cm-content,
.cm-gutters {
  font-family: "Geist Mono", monospace;
  font-size: 16px;
}
