---
import "./../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐉</text></svg>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Instrument+Serif:ital@0;1&family=Geist+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <style>
      h1 {
        font-size: 2rem;
      }
      .instrument-serif-regular {
        font-family: "Instrument Serif", serif;
        font-weight: 400;
        font-style: normal;
      }

      .instrument-serif-regular-italic {
        font-family: "Instrument Serif", serif;
        font-weight: 400;
        font-style: italic;
      }

      .instrument-sans-bold {
        font-family: "Instrument Sans", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }

      .geist-mono-regular {
        font-family: "Geist Mono", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }

      .geist-mono-bold {
        font-family: "Geist Mono", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      }
    </style>
  </head>
  <body class="instrument-serif-regular color-gray-900 text-lg">
    <main>
      <slot />
    </main>
  </body>
</html>
